footer.footer
    div.container
        p Feito por Paula Figueiredo · #{new Date().getFullYear()}
        a(href="https://github.com/PaulinhaFigueiredoDev/Front-end_na_vida_real" target="_blank" rel="noreferrer") Ver no GitHub
