header.header
    div.container
        a.brand(href="/") CSShortcut
        nav.menu(aria-label="Navegação principal")
            ul.menu-itens
                li.menu-item 
                    a.menu-link(href="#inicio") Início
                li.menu-item 
                    a.menu-link(href="#sobre") Sobre
                li.menu-item
                    a.menu-link(href="#conteudos") Conteúdos
        div.profile 
            img.profile-img(src="assets/img/vivien.png" alt="Paula Figueiredo")
            span.profile-text Paula Figueiredo



