/** 
    É importante a ordem  para o SMACSS, pois ela ajuda a manter a organização e a clareza do código. A ordem recomendada é:
    1. Base: estilos globais, reset, tipografia, etc.
    2. Layout: estilos relacionados à estrutura da página, como header, footer, sidebar, etc.
    3. Module: estilos relacionados a componentes específicos, como botões, cards, etc.
    4. State: estilos relacionados a estados específicos, como hover, active, etc.
    5. Theme: estilos relacionados a temas específicos, como cores, fontes, etc.

    A base forma a base do projeto, enquanto os outros níveis ajudam a organizar o código de acordo com a função e a finalidade dos estilos. Seguir essa ordem ajuda a manter o código limpo, fácil de entender e fácil de manter.
*/

/* base */
@import 'base/normalize'
@import 'base/colors'
@import 'base/global'

/* layout */
@import 'layout/header'
@import 'layout/main'
@import 'layout/footer'

/* module */
@import 'module/form-login'
@import 'module/text'
@import 'module/input-text'
@import 'module/submit-btn'    

/* state */
@import 'state/inactive'

/* theme */
/* nao utlizamos o tema */
