:root {
    --cor-principal: #ff528b;
    --cor-secundaria: #a7ff52;
    --cor-terciaria: #ff8f52;
}

.red {
    color: red;
    color: var(--pink);
}

.btn-default {
    color: blue;
}

.is-active {
    display: block;
}