/* base */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #444;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
/* layout */
.header {
  background-color: #f44280;
  height: 30px;
  width: 100%;
}
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #f44280;
  height: 30px;
  width: 100%;
}
/* module */
.form-login {
  padding: 20px;
  background: #f44280;
  width: 100%;
  max-width: 300px;
}
.text {
  color: #fff;
  margin: 5px 0;
  display: inline-block;
}
.input-text {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 5px 0;
  border: 0;
  font-size: 12px;
}
.submit-btn {
  margin: 5px 0;
  float: right;
  border: 2px solid #bc0143;
  padding: 10px 25px;
  background-color: initial;
  color: #fff;
  transition: 0.3s;
  font-size: 12px;
}
/* state */
.inactive {
  background-color: #b2b2b2;
  opacity: 0.7;
  border-color: #ccc;
}
.inactive:hover {
  background-color: #b2b2b2;
  cursor: initial;
}
/* theme */
/* nao utlizamos o tema */
