/* Definição de variáveis CSS no escopo global */
:root {
  --cor1: #ff0090;
  --cor2: #000;
  --cor3: #660066;
}
/* Estilos para os níveis de caixas */
.lv-1 {
  height: 300px;
  width: 300px;
  background-color: var(--cor1);
}

/* Exemplo do level 2 sendo afetado pela variável global */
.lv-2 {
  margin-top: 10px;
  height: 200px;
  width: 200px;
  background-color: var(--cor2); 
}

.lv-3 {
  height: 100px;
  width: 100px;
  background-color: var(--cor3);
}

/* Escopo específico para a classe .x */
/* Redefinição da variável --cor3 dentro do escopo .x */
.x .lv-3 {
  --cor3: #ccc;
}

