/* Modelo Acoplado */

.form {
    background-color: aliceblue;
}

.form input {
    background-color: antiquewhite;

}

.form label {
    background-color: aquamarine;
}

/* Responsabilidade Única */

.form {
    background-color: bisque;
}

.input {
    background-color: blanchedalmond;
}

.label {
    background-color: blueviolet;
}
