/* main
============================================= */

/* CSS syntax 
===================== */
.btn {
    color: blue;  
}

/* Stylus syntax 
===================== */
.btn
    color: blue

/* Variables 
===================== */
light = #d44289;

.btn
    color: light

/* Functions   
===================== */
/* Uma Function é uma função que retorna um valor. */
box(size)
    width size
    height size

.btn {
    box(500px)
}

/* @import
===================== */
@import 'module.styl'