/* main
============================================= */
/* CSS syntax 
===================== */
.btn {
  color: #00f;
}
/* Stylus syntax 
===================== */
.btn {
  color: #00f;
}
/* Variables 
===================== */
.btn {
  color: #d44289;
}
/* Functions   
===================== */
/* Uma Function é uma função que retorna um valor. */
.btn {
  width: 500px;
  height: 500px;
}
/* @import
===================== */
.footer {
  background: #333;
}
